
.ticketList {  
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 20px;
	font-size: 1rem;
}

.noTickets {
	background-color: #fff;
	padding: 15px 20px;
}

.noTickets p {
	padding: 5px;
	text-align: center;
}

.ticket {  
	display: flex;
	flex-direction: row;

	margin-bottom: 20px;
	font-size: 0.75rem;

	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);

}

.ticket__buy {  
	padding: 20px;
	width: 200px;
	text-align: center;;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.ticket__carrier-logo {  
	width: 100px;
	margin-bottom: 20px;
}

.ticket__buy-button {  
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	background-color: #ff6d00;
	box-shadow: 0 1px 0 0 #d64d08;
}

.ticket__buy-button:hover {
	background-color: #ff8124
}

.buy-button__text {
	display: block;
	color: #fff;
	text-align: center;
	line-height: 1.25;
}

.ticket__details { 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 1 0;

	padding: 20px;
}
.ticket__details p {
	padding: 0 5px;
}

.ticket__details-departure {  
	order: 1;
	text-align: left;
}

.ticket__details-stops {  
	order: 2;
	flex: 1 0;
	text-align: center;
}

.ticket__details-arrival { 
	order: 3;
	text-align: right;
}

.ticket__details-airport {
	font-weight: bold;
}

.ticket__details-time {
	font-size: 1.75rem;
}

.ticket__details-date, 
.ticket__details-stops {
	color: #a7a7a7;
}

.ticket__details-path {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ticket__details-line {
	flex-grow: 1;
	height: 0px;
	margin-right: 1px;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.ticket__details-airplane {
	width: 14px;
	height: 14px;
	background: no-repeat center center;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAIAAAD9iXMrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAk0lEQVQoU42R0Q6CMAxF9/+fp8JAh1MGRiRiiPNlEWozrmZ7kOykSXO7m3ZbBQVkRdn1PURM5KubdicL5xx0QOR7jOMmy8/GQAdEvvc0bXPJ1qe1KH0R6qitfUERVfrEvlJVMwpAmPYi94drd1tCac0+P735Fbm9uA/DcrAS3Ci5X+r9kD1r70X2pP5f6j7+7pfoA/Dz35J3ql7hAAAAAElFTkSuQmCC');
}