
.ticketList {  
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 20px;
}

.noTickets {
	background-color: #fff;
	padding: 15px 20px;
}

.noTickets p {
	padding: 5px;
	text-align: center;
}

.ticket {  
	display: flex;
	flex-direction: row;

	margin-bottom: 20px;
	
	background-color: #fff;
}

.ticket__buy {  
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px;
}

.ticket__carrier-logo {  
	width: 100px;
	margin-bottom: 20px;
}

.ticket__buy-button {  
	padding: 10px;
	color: #fff;
	text-align: center;
	background-color: #ff6d00;
}

.ticket__buy-button:hover {
	background-color: #ff8124
}

.ticket__details { 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 1 0;

	padding: 20px;
}
.ticket__details p {
	padding: 0 5px;
}

.ticket__details-departure {  
	order: 1;
}

.ticket__details-stops {  
	order: 2;
	flex: 1 0;
	text-align: center;
}

.ticket__details-arrival { 
	order: 3;
}